# --- DJANGO ---
DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=
# --- BASE DE DONNÉES ---
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DRIVER=
DB_TRUST_CERT=

# --- CORS & ORIGINES AUTORISÉES ---
CORS_ALLOWED_ORIGINS=

# --- SERVICES TIERS & CACHE ---
REDIS_URL=
ANTHROPIC_API_KEY=
